<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/4820eb40be.js"
      crossorigin="anonymous"
    ></script>
    <title>Main</title>
  </head>
  <body>
    <header>
      <div class="title">
        <p>Blog</p>
        <p>News</p>
      </div>
      <nav class="nav">
        <ul class="nav__anchors">
          <li class="nav__item">
            <a href="/">Home</a>
          </li>
          <li class="nav__item">
            <a href="/">Publish</a>
          </li>
          <li class="nav__item">
            <a href="/">Profile</a>
          </li>
          <li class="nav__item">
            <a href="/">Logout</a>
          </li>
          <li class="nav__item">
            <a href="/">About</a>
          </li>
          <li class="nav__item">
            <a href="/users/login">Login</a>
          </li>
          <li class="nav__item">
            <a href="/">Register</a>
          </li>
        </ul>
        <div class="nav_search-bar">
          <input type="text" placeholder="Keyword"/>
          <div class="nav__btn-container">
            <button>
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </div>
      </nav>
    </header>
    {{{body}}}
    <footer>
      <div class="footer">
        <p class="footer-section">
          © 2023 Blog News App
        </p>
      </div>
    </footer>
  </body>

</html>