<main class="login">
  <section class="login_section">
    <p class="register-btn">Not a member?<a href="/users/register">Register now</a></p>
    <div class="login_form-container">
      <div class="login__heading">
        <h1>Hello again!</h1>
        <p>Welcome back you have been missed!</p>
      </div>
      <form class="login-form" method="post">
        <div>
          <label for="email">Email</label>
          <input type="text" name="email" placeholder="example@gmail.com" />
        </div>
        <div>
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            placeholder="StrongPassword!@"
          />
        </div>
        <button class="login__btn">Sign In</button>
      </form>
    </div>
    <div class="login_image-container">
      <img
        src="/images/andrew-neel-cckf4TsHAuw-unsplash.jpg"
        class="login__image"
        alt=""
      />
    </div>
  </section>
</main>